BasedOnStyle: LLVM
ColumnLimit: 0
AlignAfterOpenBracket: Align

AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: false

AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

BitFieldColonSpacing: After
SpacesInSquareBrackets: false
SpacesBeforeTrailingComments: 2

IndentPPDirectives: BeforeHash
IndentCaseLabels: true

KeepEmptyLinesAtTheStartOfBlocks: false

Cpp11BracedListStyle: true
SpaceBeforeAssignmentOperators: true
PointerAlignment: Right

ReflowComments: true

AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false

SortIncludes: false

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: false

BinPackArguments: true
BinPackParameters: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterFunction: true
  AfterNamespace: true
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BreakBeforeBinaryOperators: None
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: false
BreakStringLiterals: false

EmptyLineBeforeAccessModifier: LogicalBlock

CommentPragmas: 'NOLINT|(@|\\)(attention|author|brief|bug|cond|date|deprecated|else(if|cond)?|end(cond|if)|exception|if(not)?|invariant|note|par|t?param|post|pre|return|retval|sa|see|since|test|throw|todo|version|warning|xrefitem)|^!'

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: true
  AfterOverloadedOperator: true
  BeforeNonEmptyParentheses: false